<nav class="flex flex-col flex-1 gap-2">
  <div class="bg-zinc-900 rounded-lg p-2">
    <ul>
      <app-aside-item-menu [path]="'/'" [link]="'Home'" [icon]="home"></app-aside-item-menu>
      
      <app-aside-item-menu [path]="'/'" [link]="'Search'" [icon]="search"></app-aside-item-menu>
    </ul>
  </div>

  <div class="bg-zinc-900 rounded-lg p-2 flex-1">
    <ul>
       <app-aside-item-menu [path]="'/'" [link]="'Tu biblioteca'" [icon]="biblioteca"></app-aside-item-menu>
    </ul>
  </div>
</nav>